:root{
    --fundo:#ededed;
    --branco:#fff;
    --preto:#000;
    --azul: #2d4356;
    --verde: #33cdac;
    --verde-hover: #30b396;
    --cinza: #4a6280;
    --cinza-claro: #ababab;
    --danger: #a40d0d;
    --danger-hover: #cf2828;
}



.header {
    background-color: var(--azul) ;
}